@page
@model lab3.Pages_Profile.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LabUser</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="LabUser.LabUserId" />
			<div class="form-group">
				<label asp-for="LabUser.Email" class="control-label"></label>
				<input asp-for="LabUser.Email" class="form-control" />
				<span asp-validation-for="LabUser.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LabUser.FirstName" class="control-label"></label>
				<input asp-for="LabUser.FirstName" class="form-control" />
				<span asp-validation-for="LabUser.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LabUser.Password" class="control-label"></label>
				<input asp-for="LabUser.Password" class="form-control" />
				<span asp-validation-for="LabUser.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LabUser.PasswordVerify" class="control-label"></label>
				<input asp-for="LabUser.PasswordVerify" class="form-control" />
				<span asp-validation-for="LabUser.PasswordVerify" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Details">Back to Profile</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
